@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0 0 0px;
	padding: 0 0 0px;
}

body{
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: transparent;
	width: 100%;
	height: 100%;
}

body nav.navbar{
	width: 100%;
	background-color: #333;
	display: flex;
	padding: 10px;
}

body nav.navbar .navbar-brand{
	font-size: 30px;
	color:  white;
	text-decoration: none;
}
body nav.navbar ul.navbar-nav{
	display: flex;
}
body nav.navbar li a.nav-link{
	color:  white;
}

div.p-page{

}